<!DOCTYPE html>
<link rel="stylesheet" href="ingredient.component.css">
<section class="ingredients">

  <h2 class="section-heading">Ingredients</h2>

  <div class="ingredient-card card" *ngFor="let ingredient of ingredients">
    <div class="ingredient-image card-img-top">
      <img src="assets/ingredient/Ingrident.jpeg" alt="Espresso" class="ingredient-image card-img-top">
    </div>
    <div class="ingredient-details card-body">
      <h3 class="ingredient-title card-title"></h3>
      <div class="ingredient-info card-text">
        <p>Description: Description </p>
        <p>Category: Category</p>
        <p>Price:Price</p>
      </div>
      <div class="ingredient-actions">
        <button class="btn-update btn" (click)="updateExistingIngredient(ingredient.id)">Update</button>
        <button class="btn-delete btn" (click)="deleteIngredient(ingredient.id)">Delete</button>

        <button (click)="createNewIngredient()" class="btn">Create New Ingredient</button>
      </div>
    </div>
  </div>
</section>
