<!DOCTYPE html>
<html>
<head>
  <title>Menu Kaffe</title>
  <link rel="stylesheet" href="menu-item.component.css">
</head>
<body class="container">
<div *ngIf="errorMessage">
  <p class="error-message">{{ errorMessage }}</p>
</div>
<div class="button-group">
  <button (click)="createNewItem()">Create New Item</button>
  <button (click)="updateExistingItem(itemId)">Update Item</button>
  <button (click)="deleteItem(itemId)">Delete Item</button>
</div>
<div *ngIf="menuItems.length > 0">
  <h2>Menu Items</h2>
  <table class="menu-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of menuItems">
      <td>{{ item.name }}</td>
      <td>{{ item.price }}</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>

