<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kaffekunstens Forening</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
<header>
  <h1>Kaffekunstens Forening</h1>
  <nav>
    <a routerLink="/recipes">Recipes</a>
    <a routerLink="/ingredients">Ingredients</a>
    <a routerLink="/menu-items">Menu Items</a>
  </nav>
</header>

<section class="coffee-creations">
  <h2 class="section-heading">Afsløring af kaffekreationer</h2>
  <div class="coffee-creation">
    <div class="coffee-creation-image">
      <img src="./assets/coffee-images/Latte.jpeg" alt="Latte" height="236" width="213">
    </div>
    <div class="coffee-creation-details">
      <h3 class="coffee-creation-title">Latte</h3>
      <p class="coffee-creation-description">En latte kombinerer en rig espresso med dampet mælk, hvilket resulterer i
        en glat, cremet tekstur. Toppen med et let lag af mælkeskum, den er et populært valg for dem, der nyder en
        mildere kaffesmag.</p>
    </div>
  </div>
  <div class="coffee-creation">
    <div class="coffee-creation-image">
      <img src="../assets/coffee-images/Cappuccino.jpg" alt="Cappuccino" class="coffee-creation-image" height="183"
           width="275">
    </div>
    <div class="coffee-creation-details">
      <h3 class="coffee-creation-title">Cappuccino</h3>
      <p class="coffee-creation-description">Den klassiske cappuccino byder på en dristig espressobase, toppet med lige
        dele dampet og skummet mælk. Dette skaber en luksuriøs tekstur og en rig, men afbalanceret smag, ofte afsluttet
        med et drys kakao eller kanel.</p>
    </div>
  </div>
  <div class="coffee-creation">
    <img src="../assets/coffee-images/Esspresso.jpeg" alt="Espresso" class="coffee-creation-image" height="200"
         width="200">
    <h3 class="coffee-creation-title">Espresso</h3>
    <p class="coffee-creation-description">Espresso, kaffens kvintessens, er en koncentreret skud brygget ved at tvinge
      varmt vand gennem fintmalede kaffebønner. Den er kendt for sin rige smag, intense aroma og et lag af crema ovenpå,
      der tjener som base for mange andre kaffedrikke.</p>
  </div>
  <div class="coffee-creation">
    <img src="../assets/coffee-images/Americano.jpg" alt="Americano" class="coffee-creation-image" height="449"
         width="537">
    <h3 class="coffee-creation-title">Americano</h3>
    <p class="coffee-creation-description">En Americano laves ved at fortynde en stærk espresso med varmt vand, hvilket
      resulterer i en kaffe, der er lige så rig som drypkaffe, men med en anden smagsprofil. Det er et perfekt valg for
      dem, der foretrækker en mindre intens, men stadig smagfuld kaffeoplevelse.</p>
  </div>
  <div class="coffee-creation">
    <img src="assets/coffee-images/Lait.jpg" alt="Café au Lait" class="coffee-creation-image" height="214"
         width="236">
    <h3 class="coffee-creation-title">Café au Lait</h3>
    <p class="coffee-creation-description">Café au Lait er en trøstende kaffe lavet med lige dele af friskbrygget kaffe
      og opvarmet mælk. Det er en mildere kaffedrik, populær for sin beroligende kvaliteter og glatte smag.</p>
  </div>
  <div class="coffee-creation">
    <img src="../assets/coffee-images/Cortado.jpg" alt="Cortado" class="coffee-creation-image" height="225"
         width="225">
    <h3 class="coffee-creation-title">Cortado</h3>
    <p class="coffee-creation-description">En Cortado balancerer styrken af espresso med en lille mængde varm mælk for
      at reducere dens syrlighed. Mælken i en Cortado er omkring et 1:1 forhold til espressoen, hvilket gør den stærkere
      end en latte eller cappuccino.</p>
  </div>
  <div class="coffee-creation">
    <img src="../assets/coffee-images/Filterkaffe.jpg" alt="Filterkaffe" class="coffee-creation-image" height="449"
         width="550">
    <h3 class="coffee-creation-title">Filterkaffe</h3>
    <p class="coffee-creation-description">Filterkaffe, også kendt som drypkaffe, er lavet ved at brygge malet kaffe
      gennem et filter. Den er kendt for sine klare, skarpe smagsnoter og er typisk lettere end espresso-baserede
      drikke.</p>
  </div>
  <div class="coffee-creation">
    <img src="assets/coffee-images/Flatwhite.png" alt="Flat White" class="coffee-creation-image" height="215"
         width="236">
    <h3 class="coffee-creation-title">Flat White</h3>
    <p class="coffee-creation-description">En Flat White ligner en latte, men med et højere kaffe-til-mælk-forhold. Den
      har et tyndt lag af fløjlsagtig mikroskum over en skud espresso, hvilket giver en stærkere kaffesmag med en
      luksuriøs fornemmelse.</p>
  </div>
  <div class="coffee-creation">
    <img src="assets/coffee-images/Mokka.jpg" alt="Kaffe Mokka" class="coffee-creation-image" height="205"
         width="246">
    <h3 class="coffee-creation-title">Kaffe Mokka</h3>
    <p class="coffee-creation-description">En Mokka er en dejlig kombination af espresso, chokolade og dampet mælk, ofte
      toppet med flødeskum. Det er en perfekt godbid for dem, der elsker en sød, chokoladefyldt kaffe.</p>
  </div>
  <div class="coffee-creation">
    <img src="../assets/coffee-images/Lungo.jpg" alt="Lungo" class="coffee-creation-image" height="1000" width="1000">
    <h3 class="coffee-creation-title">Lungo</h3>
    <p class="coffee-creation-description">En Lungo er en espressoskud lavet med mere vand, hvilket resulterer i et
      længere, mildere skud kaffe. Det tilbyder en mindre intens smag end en traditionel espresso, men med den samme
      rige aroma.</p>
  </div>
  <div class="coffee-creation">
    <img src="../assets/coffee-images/Macchiato.jpg" alt="Macchiato" class="coffee-creation-image" height="188"
         width="268">
    <h3 class="coffee-creation-title">Macchiato</h3>
    <p class="coffee-creation-description">En Macchiato er en stærk espresso 'plet' med en lille mængde skummet mælk.
      Det er en dristig drik, der tilbyder intensiteten af en espresso med et strejf af cremethed.</p>
  </div>
  <div class="coffee-creation">
    <img src="../assets/coffee-images/Ristretto.jpg" alt="Ristretto" class="coffee-creation-image" height="183"
         width="275">
    <h3 class="coffee-creation-title">Ristretto</h3>
    <p class="coffee-creation-description">Ristretto er et meget koncentreret espressoskud lavet med mindre vand. Det er
      mere smagfuldt og mindre bittert end en almindelig espresso, hvilket gør det til en favorit blandt
      kaffekendere.</p>
  </div>

</section>
<router-outlet></router-outlet>

</body>
</html>
