
body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f4;
}

header {
  background-color: #0063B2ff;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

nav a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


.section-heading {
  color: #0063B2ff;
  text-align: center;
}


.coffee-creation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.coffee-creation-image img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.coffee-creation-details {
  flex-basis: 60%;
  padding: 0 15px;
}

.coffee-creation-title {
  color: #DAA520;
  font-size: 1.2em;
}

.coffee-creation-description {
  color: #555;
  font-size: 1em;
}

@media (max-width: 768px) {
  .coffee-creation {
    flex-direction: column;
    align-items: center;
  }

  .coffee-creation-details, .coffee-creation-image {
    flex-basis: 100%;
  }
}
