<div *ngIf="recipes.length > 0; else noRecipes">
  <div class="recipe" *ngFor="let recipe of recipes">
    <h2>{{ recipe.name }}</h2>
    <img src="../../3rdSemesterEksamenFrontend/src/assets/Recipe/Coffeerecipe.png" alt="{{ recipe.name }}" class="recipe-image">
    <p>{{ recipe.description }}</p>
    <button (click)="createNewRecipe()">Create New Recipe</button>
    <button (click)="updateExistingRecipe(recipe.id)">Update Recipe</button>
    <button (click)="deleteRecipe(recipe.id)">Delete Recipe</button>

  </div>
</div>
<ng-template #noRecipes>
  <p>No recipes found.</p>
</ng-template>
